#!/bin/bash
# {{ ansible_managed }}

set -e
set -u

iptables='/sbin/iptables'

protocol="{{ item.protocol }}"
source_ip="{{ item.source_ip }}"
source_port="{{ item.source_port }}"
destination_ip="{{ item.destination_ip }}"
destination_port="{{ item.destination_port }}"

update() {
  action="$1"

  `${iptables} -t nat ${action} PREROUTING -d ${source_ip} -p ${protocol} -m ${protocol} --dport ${source_port} -j DNAT --to-destination ${destination_ip}:${destination_port}`
  `${iptables} ${action} FORWARD -d ${destination_ip} -p ${protocol} -m state --state NEW --dport ${destination_port} -j ACCEPT`
}

task="$1"

case "${task}" in
  start)
    update " -I "
  ;;
  stopped)
    update " -D "
  ;;
esac
