[
{% for item in port_forwards %}
  {
    "protocol": "{{ item.protocol | default(libvirt_port_forward_protocol, true) }}",
    "source_ip": "{{ item.host_ip | default(libvirt_port_forward_host_destination, true) }}",
    "source_port": "{{ item.host }}",
    "destination_ip": "{{ item.guest_ip | default(libvirt_port_forward_guest_ip, true) }}",
    "destination_port": "{{ item.guest }}"
  }{{ '' if loop.last else ',' }}
{% endfor %}
]
