#cloud-config
# {{ ansible_managed }}
hostname: {{ libvirt_result_domain_name }}
{# sudo would fail if hosts are unmanaged #}
manage_etc_hosts: localhost
groups:
{% for user in libvirt_cloud_config_users if user.groups is defined %}
{%   for group in user.groups.split(',') %}
- {{ group }}
{%   endfor %}
{% endfor %}
users:
{{ libvirt_cloud_config_users | to_nice_yaml }}
packages:
- python{# python ensures ansible can manage this host

# alternative to manage_etc_hosts that allows to specify the full hostname
bootcmd:
- [ cloud-init-per, once, configure-hostname, "/bin/sh", "-c", "echo 127.0.1.1 {{ libvirt_result_domain_name }} >> /etc/hosts" ]
#}
